@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --font-main: "Outfit", sans-serif;
  --size-para: 15px;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

.container {
  background: var(--light-gray);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 280px;
  padding: 15px;
  height: 450px;
  border-radius: 20px;
  background: var(--white);
  text-align: center;
  box-shadow: 4px 4px 6px var(--light-gray);
}

.qr-code img {
  width: 280px;
  border-radius: 10px;
}

.card h2 {
  color: var(--dark-blue);
  margin: 10px auto;
}

.card p {
  color: var(--grayish-blue);
  font-size: var(--size-para);
  margin: 10px auto;
}
